<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commonutil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.AppBaseActivity" />
        <activity android:name=".test.TestLiveDataActivity" />
        <activity android:name=".module.json.activity.TestJsonOneActivity" />
        <activity android:name=".module.json.activity.TestJsonActivity" />
        <activity android:name=".module.dialog_fragment.TestDialogFragmentActivity" />
    </application>

</manifest>